language: python
python:
- 2.7
- 3.4
- 3.5
- 3.6
install:
- pip install crcmod requests nose nose-cov python-coveralls pycryptodome aliyun-python-sdk-sts
  aliyun-python-sdk-kms
- pip install --upgrade mock
script:
- nosetests unittests/ --with-cov
after_success:
- coveralls
